body {
    background: rgb(239, 248, 255);
    overflow: hidden;
}

.logo {
    width: 60%;
    position: relative;
    text-align: center;
}

aside {
    float: left;
    background: rgba(245, 245, 245, 0.733);
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: black;
    border-right: 5px solid #4d4d4d;
    z-index: 1;
}

aside .logo-text {
    font-size: 200%;
    margin-left: 15px;
    font-weight: bold;
    position: relative;
    top: 4%;
    font-family: 'MyFont', sans-serif;
}

aside h3 {
    margin-top: 14vh;
    font-size: 3vh;
    z-index: 1;
}

aside ul {
    list-style: none;
    text-decoration: none;
    z-index: 1;
}

aside ul li {
    color: black;
    display: block;
    margin-top: 20px;
    font-size: 2vh;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: rgb(107, 5, 5);
    text-decoration: none;
    transform: scale(1.05);
}

aside .navigation-img {
    position: relative;
    height: 2.2vh;
    padding-right: 4px;
    padding-top: -1vh;
}

a {
    text-decoration: none !important;
}

@font-face {
    font-family: 'MyFont';
    src: url('../forStyles/fonts/Alegreyascmedium.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

main {
    display: flex;
    width: 80%
}



main .first-title {
    position: relative;
    text-align: center;
    font-family: 'MyFont', sans-serif;
    font-size: 7vh;
    padding-top: 5%;
}

main .second-title {
    position: relative;
    text-align: center;
    font-family: 'MyFont', sans-serif;
    font-size: 5vh;
    padding-bottom: 2%;
}



main .main-div {
    position: relative;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    padding-top: 15vh;
}

.login_text, .pass-text, .job_title_text, .laboratory_text, .department_text, .management_text {
    font-family: 'MyFont', sans-serif;
    font-size: 3vh;
    padding-right: 1vw;
}

.job_title_pos {
    padding-right: 4vw;
    padding-top: 2vh;
}

.password-pos {
    padding-right: 2vw;
    padding-top: 2vh;
}

.laboratory_pos {
    padding-right: 6vw;
    padding-top: 4vh;
}

.department_pos {
    padding-right: 1vw;
    padding-top: 2vh; 
}

.management_pos {
    padding-right: 5vw;
    padding-top: 2vh;
}

.enter_login, .input-pass, .enter_job_title, .input_laboratory, .input_department, .input_management {
    background-color: rgb(243, 254, 255);
    width: 23vw;
    height: 4vh;
    border-radius: 18px;
    padding-left: 1%;
    font-family: 'MyFont', sans-serif;
    font-size: 120%;
}

main .tooltip {
    visibility: hidden; 
    background-color: black; 
    color: #fff; 
    text-align: left; 
    border-radius: 5px; 
    padding: 10px; 
    position: absolute; 
    bottom: 110%; 
    left: 710%; 
    transform: translateX(-50%); 
    z-index: 1; 
    opacity: 0; 
    transition: opacity 0.3s;
    width: 18vw; 
    height: min-content;
    font-size: 80%;
    font-family: 'MyFont', sans-serif;
    overflow-y: auto;
    text-align: justify;
}

/* main .second-tooltip {
    height: ;
} */

main .image-container {
    position: relative;
    display: inline-block;
}

main .image-container:hover .tooltip, .image-container .tooltip:hover {
    visibility: visible; 
    opacity: 1; 
}

main .Image {
    position: relative;
    width: 2.5vh; 
    height: auto;
    padding-left: 10%;
    padding-bottom: 12%;
}

main .key {
    position: relative;
    padding-right: 4.2vw; 
    padding-top: 2%;
}

main .options {
    background-color: rgb(243, 254, 255);
    width: 43.5vh;
    height: 4vh;
    border-radius: 18px;
    padding-left: 1%;
    font-family: 'MyFont', sans-serif;
    font-size: 100%;
}

main select option {
    padding: 10px; 
}

main select {
    cursor: pointer;
}

main .accept-button {
    position: relative;
    width: 12vw;
    height: 5vh;
    border: none;
    background-color: #1C4FD1;
    border-radius: 25px;
    color: white;
    font-family: 'MyFont', sans-serif;
    font-size: 2.5vh;
    transition: transform 0.6s ease;
    /* margin-left: 19vw; */
    margin-top: 4vh;
    /* overflow-y: auto; */
    overflow:hidden;
    overflow-y:hidden;  /*для вертикального*/
    overflow-x:hidden;  /*для горизонтального*/
}

main .accept-button:hover {
    transform: scale(1.05);
}

body {
    overflow-x:hidden;
}